<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCah_MkUW_aeDTCfyHua4mxpGl7X7xsHgU</string>
	<key>GCM_SENDER_ID</key>
	<string>885559779394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tds-money</string>
	<key>STORAGE_BUCKET</key>
	<string>tds-money.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885559779394:ios:2d4a3cf215fd6ed3810ddb</string>
</dict>
</plist>